:root {
            --font-size-base: 32px;
            --logo-width: 400px;
            --gold: #d4af37;
        }

   body {
    background-color: #000000;
    /* On augmente l'opacité à 0.4 et on réduit la diffusion pour plus d'éclat */
    background-image: radial-gradient(circle at center, rgba(255, 191, 0, 0.3) 0%, rgba(0, 0, 0, 0) 60%);
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Zalando Sans Expanded', sans-serif;
    overflow: hidden;
    user-select: none;
    margin: 0;
    height: 100vh;
}

        .custom-link {
            color: #ffffff !important;
            text-decoration: none;
            font-size: var(--font-size-base);
            font-weight: 500;
            letter-spacing: 0.05em;
            transition: opacity 0.2s ease;
        }

        /* 1. Mini (Bruno Ace) */
        .font-mini {
            font-family: 'Bruno Ace', sans-serif;
            text-transform: uppercase;
        }

        /* 2. HiFi (Lexend Mega) */
        .font-hifi {
            font-family: 'Lexend Mega', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
        }

        /* 3. Master Audio Player (Pinyon Script) */
        .font-master {
            font-family: 'Pinyon Script', cursive;
            font-size: 60px;
            letter-spacing: 0px;
            text-transform: none;
        }

        /* 4. Touchscreen (Doto) */
        .font-touchscreen {
            font-family: 'Doto', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .custom-link:hover {
            opacity: 0.7;
            color: #ffffff !important;
        }

        .logo-top {
            width: var(--logo-width);
            height: auto;
            margin-bottom: 35px;
            border: #ffffff 5px solid;
            box-shadow: #616161 0px 0px 15px 5px;
        }

        /* Classes de stabilité sauvegardées */
        .brand-logo { 
            height: 18px; 
            width: auto; 
            opacity: 0.85; 
            filter: grayscale(1); 
            transform: translateY(-3px); 
        }

        .repeat-mode-label {
            position: absolute; 
            top: 3px; 
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px; 
            font-weight: 900;
            color: var(--gold); 
            display: none;
            letter-spacing: 0px;
        }